# Importing required libraries

In [1]:
import numpy as np  # Importing NumPy library for numerical computing
import pandas as pd  # Importing Pandas library for data manipulation and analysis
import matplotlib.pyplot as plt  # Importing Matplotlib library for data visualization

# Loading dataset and Exploratory Data Analysis

In [2]:
# Reading data from a CSV file named "insurance.csv" into a DataFrame named dataset
dataset = pd.read_csv("insurance.csv")

In [3]:
# Display the first few rows of the dataset
dataset.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
# Display information about the DataFrame 'dataset', including data types, non-null counts, and memory usage
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [5]:
# Generates descriptive statistics of the dataset such as count, mean, standard deviation, min, max, etc.
dataset.describe()

               age          bmi     children       charges
count  1338.000000  1338.000000  1338.000000   1338.000000
mean     39.207025    30.663397     1.094918  13270.422265
std      14.049960     6.098187     1.205493  12110.011237
min      18.000000    15.960000     0.000000   1121.873900
25%      27.000000    26.296250     0.000000   4740.287150
50%      39.000000    30.400000     1.000000   9382.033000
75%      51.000000    34.693750     2.000000  16639.912515
max      64.000000    53.130000     5.000000  63770.428010

## Checking duplicate rows and drop the duplicate rows

In [6]:
# Count the number of duplicated rows in the dataset
dataset.duplicated().sum()

1

In [7]:
# Drop duplicated rows from the dataset in place
dataset.drop_duplicates(inplace=True)

# Checking for null values

In [8]:
# Checking for null values in the dataset
dataset.isnull().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

## Feature Selection and Target vaiable selection

In [9]:
# Extracting features from the dataset excluding the last column and assigning to variable X(Features)
X=dataset.iloc[:,:-1].values
# Extracting labels from the last column of the dataset and assigning to variable y(Target Variable)
y=dataset.iloc[:,-1].values

# One-hot encode categorical data to convert it to numerical data

In [10]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder

# Specify the indices of the categorical columns to be encoded
columns_to_encode = [1, 4, 5]

# Create a transformer for categorical columns
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), columns_to_encode)], remainder='passthrough')

# Transform the dataset
X= ct.fit_transform(X)

In [11]:
X

array([[1.0, 0.0, 0.0, ..., 19, 27.9, 0],
       [0.0, 1.0, 1.0, ..., 18, 33.77, 1],
       [0.0, 1.0, 1.0, ..., 28, 33.0, 3],
       ...,
       [1.0, 0.0, 1.0, ..., 18, 36.85, 0],
       [1.0, 0.0, 1.0, ..., 21, 25.8, 0],
       [1.0, 0.0, 0.0, ..., 61, 29.07, 0]], dtype=object)

# Splitting the dataset into the Training set and Test set

In [12]:
# Importing train_test_split function from sklearn.model_selection
from sklearn.model_selection import train_test_split
# Splitting the dataset into training and testing sets with a test size of 0.33 and a random state of 42
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

# Training the Multiple Linear Regression model on the Training set

In [13]:
 # Importing Linear Regression module from scikit-learn
from sklearn.linear_model import LinearRegression
# Creating an instance of Linear Regression model
regressor=LinearRegression()
# Fits the regressor model using the training data (X_train) and corresponding labels (y_train).
regressor.fit(X_train,y_train)

LinearRegression()

## Predicting the Test set results

In [14]:
# Predicting the target variable using the trained regressor on the test data.
y_pred = regressor.predict(X_test)

## Calculating Evaluation Metrics

In [15]:
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
#RMSE value
print( "RMSE: ",np.sqrt( mean_squared_error( y_test, y_pred ) ))
#R-squared value
print( "R-squared: ",r2_score( y_test, y_pred ) )

RMSE:  6210.147703787841
R-squared:  0.7732755908459313

## Value of the co efficient and intercept

In [16]:
print("Co-efficient",regressor.coef_)
print("Intercept",regressor.intercept_)

Co-efficient [    53.36872116    -53.36872116 -11360.56389597  11360.56389597
    492.0146474     148.13615942   -455.83526134   -184.31554547
    253.84679118    325.15779721    426.39046636]
Intercept -641.2864445027099